.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    text-align: center;
}

.appDrawer {
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    flex-wrap: wrap;
}

.app {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin: 10px;
    height: 80px;
    width: 80px;
}

@media (max-width: 600px) {
    .title {
        height: 300px;
    }
}