.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    text-align: center;
}

.shortcutImg {
    width: 50px;
    height: 50px;
    margin: 12px auto;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    background: darkgray;
}

.shortcutTxt {
    margin: 0 auto;
    padding: 0 8px;
    text-align: center;
}

.appDrawer {
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    flex-wrap: wrap;
}

.app {
    border-radius: 4px;
    border-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 10px;
    height: 120px;
    width: 128px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.1s linear;
}
    .app:hover {
        background-color: rgb(0, 0, 0, 0.1);
    }

@media (max-width: 600px) {
    .title {
        height: 300px;
    }
}
