@page "/settings"

@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Diagnostics
@using System.Net.Mime
@using Friends.Net.Components.Account
@using Friends.Net.Components.Layout
@using Friends.Net.Data
@using Microsoft.AspNetCore.Authorization
@inject NavigationManager Navigation
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@rendermode InteractiveServer

@attribute [Authorize(Policy = "Admin")]

<PageTitle>⚙️ Settings</PageTitle>

<AuthorizeView>
    <div class="menuButtonGroup">
        @foreach (MenuButtonView view in _menuButtons)
        {
            <MudButton OnClick="(() => Navigation.NavigateTo(view.Url))"
            Variant="Variant.Outlined"
            StartIcon="@view.Icon"
            Color="Color.Default" 
            Size="Size.Large" 
            FullWidth="true"
            Style="margin-bottom: 1rem;">
                <div class="menuButton">
                    <h5 class="menuButtonTitle">
                        @view.Title
                    </h5>
                    <p class="menuButtonTitle">
                        @view.Subtitle
                    </p>
                </div>
            </MudButton>
        }
    </div>
</AuthorizeView>

@code{
    private List<MenuButtonView> _menuButtons = 
    [
        new MenuButtonView
        {
            Title = "General",
            Subtitle = "Preferences and system settings.",
            Icon = Icons.Material.Filled.Computer,
            Url = "/Settings/General"
        },
        new MenuButtonView
        {
            Title = "Users and Groups",
            Subtitle = "Manage users, groups and preferences.",
            Icon = Icons.Material.Filled.Group,
            Url = "/Settings/UsersGroups"
        },
        new MenuButtonView
        {
            Title = "Shortuts",
            Subtitle = "Manage Apps and their security.",
            Icon = Icons.Material.Filled.Shortcut,
            Url = "/Settings/AppShortcuts"
        }
    ];

    protected override void OnInitialized()
    {
        MainLayout.Main?.SetPageTitle("Settings");
        base.OnInitialized();
    }



    public sealed class MenuButtonView()
    {
        public string Title { get; set; } = string.Empty;
        public string Subtitle { get; set; } = string.Empty;
        public string Icon { get; set; } = string.Empty;
        public string Url { get; set; } = string.Empty;
    }
}
