<div class='post-it' contenteditable>
    <h1>Sticky note</h1>
    <ul>
        <li>You can add elements (contenteditable)</li>
        <li>You can cross out an element by clicking it</li>
        <li>Thanks to JavaScript</li>
    </ul>

</div>

@code {

}
